<form
  action=""
  [formGroup]="categoryForm"
  class="mx-auto border border-3 w-[570px] h-[420px] px-4 py-6"
  (ngSubmit)="onSubmit()"
>
  <h1 class="my-12 font-bold text-3xl text-center">Thêm mới danh mục</h1>

  <div class="mb-5">
    <label
      for="name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Tên danh mục</label
    >
    <input
      type="text"
      id="name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Tên danh mục..."
      formControlName="name"
      required
    />
    <p
      class="mt-2 text-sm text-red-600 dark:text-red-500"
      *ngIf="
        !categoryForm.controls.name.valid &&
        (categoryForm.controls.name.dirty || categoryForm.controls.name.touched)
      "
    >
      <span class="font-medium">Lỗi!</span> Xin mời nhập tên danh mục
    </p>
  </div>

  <button
    type="submit"
    class="bg-red-200 hover:bg-blue-200 text-white rounded-md p-3 block w-full my-12 "
    [disabled]="!categoryForm.valid"
  >
    Thêm sản phẩm
  </button>
</form>
