<div class="container mx-auto">
    <div class="flex h-[394px] justify-between items-center">
      <div class="">
        <h1 class="font-bold text-[43px] text-[#1B5A7D]">
          Canon <br />
          Camera
        </h1>
        <div class="flex *:w-[144px] *:h-[61px] *:rounded-xl mt-5">
          <button class="bg-[#EDA415] text-white">Shop now</button>
          <button class="border border-[#1B5A7D] text-[#1B5A7D] ml-6">
            View more
          </button>
        </div>
      </div>
      <div class="relative">
        <img src="assets/1.png" alt="" />
        <div
          class="absolute rounded-full bg-[#EDA415] w-[120px] h-[120px] text-center flex items-center justify-center text-white bottom-10 right-0 font-semibold text-[22px]"
        >
          only <br />
          $89
        </div>
      </div>
    </div>